<div ng-repeat="entry in entries | orderBy: '-updated_date'" class="container mt-3">
    <em class="text-secondary entry-date">
        {{ entry.updated_date | date: 'MM/dd/yyyy HH:mm' }}
    </em>
    <h1>
        {{ entry.title }}
        <span class="float-right">
            <button type="button"
                class="btn btn-outline-primary btn-sm"
                data-toggle="collapse"
                data-target="#entryText-{{ entry.id }}"
                aria-expanded="false"
                aria-controls="entryText">
            View
        </button>
            <a role="button"
                    class="btn btn-outline-secondary btn-sm"
                    ng-href="#/edit/{{ entry.id }}">
                Edit
            </a>
            <button type="button"
                    class="btn btn-outline-danger btn-sm"
                    ng-click="deleteEntry(entry.id)">
                Delete
            </button>
        </span>
    </h1>
    <hr />
    <div class="collapse" id="entryText-{{ entry.id }}">
        <div class="border p-4">
            {{ entry.text }}
        </div>
    </div>
</div>
